</div>
<div class="footer-padding">
 <div id="sitemap">
 </div> 
</div>
<div class="footer" >
  <h1>Daily</h1>
  <h2>Journal</h2>  
  <img class="subscriptionimg" src="./image/undraw_Online_articles_re_yrkj.png" alt="">  
  <p>Copyright &copy Daily Journal</p>
    <form action="/subscribe" method="GET">
      <input type="text" name="nameplate" id="">  
      <button type="submit">Subscribe</button>
      </form>
    
    </div>
</div>
<script>
  AOS.init();
</script>
</body>
</html>
