<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="https://i.pinimg.com/originals/0f/97/78/0f9778e166eeb144913ab701a3a7f987.png" type="image/png">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
<div class="navbar-header">
  <p class="navbar-brand" style="font-family: 'Raleway', sans-serif; font-size: 30px; font-weight: 600;color: black;">DAILY JOURNAL</p>
    </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/home" style="font-size:13px; font-weight: 600;font-family: 'Manrope', sans-serif; color: black;">HOME</a></li>
          <li id="about"><a href="about" style="font-size:13px; font-weight: 600;font-family: 'Manrope', sans-serif;color: black;">ABOUT</a></li>
          <li id="contact"><a href="contact" style="font-size:13px; font-weight: 600;font-family: 'Manrope', sans-serif;color: black;">CONTACT US</a></li>
        </ul>
        </div>
      </nav>

  <body>
  <div class="container">
