<%- include('partials/header'); -%>
<h1 style="font-family: 'Raleway', sans-serif;color: white; position: absolute; position: absolute; left: 70rem; font-size: 5rem;">About</h1>  
<div id="pagemain">
<div id="aboutimg">
<img src="https://design4users.com/wp-content/uploads/2018/07/bus_illustration.png" alt="">
</div>    
<div id="textaddress">
 <h1>Our Aim is to Provide Open Source Platform to each and everyone to express their feelings and views on all topics.</h1>

</div>
</div>
<%- include('partials/footer'); -%>
