<%- include('partials/header'); -%>
 <h1 class="conta2">Contact</h1>  
 <div id="contentbox">
     <div id="imgcontent">
  <img src="https://cdni.iconscout.com/illustration/premium/thumb/contact-us-page-in-mobile-1886632-1598496.png" alt="">
</div> 
<div id="textcontact">
<h1>(Ph):830-631-7944</h1>
<h1>(Fax):579336430</h1>
</div>
</div>  
<%- include('partials/footer'); -%>
